# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Pytest
.pytest_cache/
reports/
artifacts/
screenshots/

# Logs
*.log
logs/

# Selenium
session.json
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Chromedriver
chromedriver.exe
chromedriver-win64/
chromedriver-win64.zip
